<template>
    <div class="page" data-name="find_id">
        <div class="top-navbar-panel main fixed">
            <div class="main-topbar relative underline">
                <div @click="onBack" class="left link">
                    <img class="ic_back" src="assets/images/btn_back.png">
                </div>
                <div class="search-panel flex flex-1 flex-col items-center justify-center">
                    <div class="text-5vw">{{$root.lang['find_id']}}</div>
                </div>
            </div>
        </div>

        <div class="page-content top-navbar-content-panel">
            <div class="label-panel center mt-6vw">
                <img src="assets/images/ic_lock_findpwd.png">
            </div>

            <div class="label-panel center">
                <label class="label-desc center">{{$root.lang['find_id_top_help']}}</label>
            </div>

            <div class="bottom-panel">
                <label class="label-desc theme-color">{{this.err_msg}}</label>

                <a @click="onReset" class="button-panel mt-2.5vw">{{$root.lang['identify_verification']}}</a>
            </div>
        </div>

    </div>
</template>

<script>
    return {
        data: function () {
            return {
                phone: "",
                err_msg: "",
            }
        },
        methods: {
            onBack: function () {
                back();
            },

            onInput: function (e) {
                let self = this;
                let name = e.target.name;
                self[name] = e.target.value;
            },

            onReset: function () {
                let self = this;

                request('/Intro/find_id', {
                    // phone: self.phone,
                }, function(result) {
                    if(result.code === self.$root.CONST.RES_SUCCESS) {
                        self.$root.navigate({
                            path: '/find_id_complete',
                            query: {
                                email: result.email,
                                email_mask: result.email_mask,
                            }
                        });
                    } else if(result.code === self.$root.CONST.RES_ERROR_INFO_NO_EXIST) {
                        self.$setState({
                            err_msg: self.$root.lang['this_information_is_not_registered']
                        });
                    } else {
                        self.$setState({
                            err_msg: result.msg
                        });
                    }
                })
            }
        },
        on: {
            pageInit: function (page) {
                let self = this;

                self.$setState({
                    // phone: self.$route.query.phone,
                });
            }
        }
    }
</script>